@charset "UTF-8";
/* CSS Document */

/* Color Palette
#008080 - teal
#F5FFFA- mint cream
#66CDAA - mediumaquamarine
#DC143C - crimson
*/

/* Global styles
---------------------------*/
html{
	box-sizing: border-box;
}
*,*:before, *:after {
	box-sizing: inherit;
}
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
h1, h2{
	font-family: 'Courgette', cursive;
}
h1{
	font-size: 80px;
	text-shadow: 2px 2px 4px #000000;
}
h2{
	font-size: 40px;
	margin-top: 0;
}
a{
	color: #DC143C;
}
a:hover{
	text-decoration: none;
}

.content-wrap {
	max-width: 950px;
	margin: 0 auto;
	padding: 50px;
	overflow: auto;
}

.col-narrow{
	width: 30%;
	float: left;
	min-height: 180px;
}

.col-wide{
	width: 70%;
	float: left;
	padding-left: 20px;
	min-height: 180px;
}
/* Header and Footer
---------------------------*/
header, footer {
	background: #008080;
	color: #F5FFFA;
}

/*header*/
.profile-img{
	border-radius: 30px;
	
}

header{
	text-align: center;
}
header h1, header h2 {
	margin: 0;
}


/*footer*/
footer{
	text-align: center;
}

.contact-info a{
	padding: 10px;
	display: inline-block;
}


/*nav_____________*/

.nav {
  background: #66CDAA;
  }
  
.nav ul li{
  font: bold 12px 18px sans-serif;
  display: inline-block;
  position: relative;
  padding: 15px 20px;
  background:  #008080;
  cursor: pointer;
  color: #F5FFFA;
}
.nav ul li:hover{
  background:#DC143C;
}
.nav ul li ul{
  padding: 0;
  position: absolute;
  top: 48px;
  left: -1000px;
  width: 150px;
}
.nav ul li ul li .dropbtn{
  background: #DC143C;
  display: block;
  color: #F5FFFA;
}
.nav ul li ul li:hover{
  background: #FF6347;
}
.nav ul li:hover ul{
  display: block;
  left: 0px;
}


/* Work Experience
---------------------------*/
.work{
	background: #F5FFFA;
}






/* Education
---------------------------*/
.education{
	background: #66CDAA;
}